*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .banner{
    width:100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(farm2.webp);
    background-size: cover;
    background-position: center;
  }
  a{
    text-decoration: none;
  }
  .logo2{
    color: white !important;
    font-size: 40px;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
    
    }
  .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  .navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
  }
  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover::after{
    width: 100%;
  }
  p{
    color: white;
    padding-left: 30px;
  }
  .group{
    padding-top: 20px;
  }